<ion-toolbar color="tertiary">
  <ion-buttons slot="secondary">
    <ion-button color="light" fill="outline" (click)="redirectHome()" >
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-button>
  </ion-buttons>
  <ion-title>Te Llevo App</ion-title>
  <ion-buttons slot="primary">
    <ion-button color="light" fill="outline">
      Perfil
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>

      <form>
        <img src="../../assets/img/logo_1.png" alt="logo_1">
        <ion-item>
          <ion-grid>
            <ion-label>Horario de Salida: </ion-label>
            <div class="hora-container">
              <p>{{hora}}:</p><p>{{min}}</p><p>{{ampm}}</p>
            </div>

            <ion-label>Valor por Persona: </ion-label>
            <div class="hora-container">
              <p>${{valor}}</p>
            </div>
          <div>
            <ion-grid>
              <ion-button (click)="redirectHome()">Volver</ion-button>
            </ion-grid>
          </div>
          </ion-grid>
        </ion-item>

      </form>
    </ion-row>
  </ion-grid>
</ion-content>>
