<ion-toolbar color="tertiary">
  <ion-buttons slot="secondary">
    <ion-button color="light" fill="outline" *ngIf="!state"  (click)="redirectToLogin()" >
      <ion-icon slot="start" name="log-in"></ion-icon>
      Login
    </ion-button>
    <ion-button color="light" fill="outline" *ngIf="state"  (click)="clearStorage()" >
      <ion-icon slot="start" name="log-in"></ion-icon>
      Cerrar Sesion
    </ion-button>
  </ion-buttons>
  <ion-title>Te Llevo App</ion-title>
  <ion-buttons slot="primary">
    <ion-button color="light" fill="outline">
      Perfil
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <div id="container">
    <strong *ngIf="user" id="bienvenido" >bienvenido  {{user}} </strong>
    <strong *ngIf="!user" > Bienvenido Visitante</strong>
  </div>
  <ion-card id="nuevo-viaje" *ngIf="state" >
    <ion-buttons >
      <ion-button (click)="redirectToViaje()" id="btn-viaje">
        <ion-icon slot="start" name="add"></ion-icon>
        Nuevo Viaje
      </ion-button>
    </ion-buttons>
  </ion-card>

</ion-content>
